form{
  margin-left:15%;
  margin-top: 20px;
  border: 1px;
}

#fna{
    text-align: center;
}
input{
    margin:30px;
clear:both;

 
}
label{
    font-size: 25px;
   justify-content: space-between;

}
body{ 
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    border: 8px solid;
    background-color: antiquewhite; }

    html{
        background-color: rgb(48, 41, 41);
    
    }
   
   
   
   




