a{text-decoration: none;}
.head {
    height: 50px;
    width: 100%;
    background-color: rgb(68, 7, 7);
    margin-top: 1%;

  }
  
  li a {
    padding: 20px 50px;
    color:rgb(1, 225, 233);
    float:none;
  
  }
  li a:hover {
    background-color: rgb(10, 1, 7);
    color: white;
   font-size: larger;
  }
 .active {
    background-color:green;
    color: white;}
    li {
        display: inline;
        font-size: larger;
    
        }
    html{
        background-image: url(./background1.png);
    }
    #logo{
        margin-top: 20px ;
       
       
    }
     footer {
     text-align: center;
     padding: 20px;
     background-color:darkolivegreen;
     color: rgb(8, 6, 6);
    margin-top: 100%;}
     