
ul {
    height: 50px;
    width: 100%;
    background-color: grey;
    margin-top: 1%;
  }
  
  li a {
    padding: 20px 50px;
    color:indigo;
  
  }
  li a:hover {
    background-color: rgb(10, 1, 7);
    color: white;
   font-size: larger;
  }
 .active {
    background-color:green;
    color: white;}
    li {
        display: inline;
        font-size: larger;}